<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="header :: content"></div>

<div class="container-fluid no-gutters">
    <div class="row ">
        <div class="col-2 pt-3 pl-0 pr-0">
            <div class="nav nav-pills bg-white " role="tablist">
                <button class="text-left nav-link btn btn-block active mb-0" id="mainAdminBtn" data-toggle="pill"
                        data-target="#mainAdmin"
                        type="button" role="tab" aria-controls="mainAdmin" aria-selected="true">Admin
                </button>
                <button class="text-left nav-link btn btn-block mt-0" id="mainUserBtn" data-toggle="pill"
                        data-target="#mainUser"
                        type="button" role="tab" aria-controls="mainUser" aria-selected="false">User
                </button>
            </div>
        </div>
        <main role="main" class="col-10 pt-3 pb-3 px-4 bg-light">
            <div class="tab-content" id="main">
                <div class="tab-pane fade show active" id="mainAdmin" role="tabpanel" aria-labelledby="mainAdminBtn">
                    <h1 class="mb-4">Admin panel</h1>

                    <ul class="nav nav-pills" id="adminPanel" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link btn border-0 active" id="usersTableBtn" data-toggle="pill"
                                    data-target="#usersTable"
                                    type="button" role="tab" aria-controls="usersTable" aria-selected="true">Users table
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn border-0" id="newUserBtn" data-toggle="pill"
                                    data-target="#newUser"
                                    type="button"
                                    role="tab" aria-controls="newUser" aria-selected="false">New user
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="usersAndNew">
                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="usersTableBtn">
                            <div class="row-cols-auto  bg-white no-gutters">
                                <div class="col-12 bg-light border">
                                    <h5 class="pl-3 pt-2 pb-2">All users</h5>
                                </div>
                                <div class="col-12 pl-3 pr-3 pt-3 border">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUserBtn">
                            <div th:replace="newUser :: content"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="mainUser" role="tabpanel" aria-labelledby="mainUserBtn">
                    <div th:replace="tableForUser :: content"></div>
                </div>
            </div>

        </main>
    </div>
</div>

<div class="modal fade text-center" id="editModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="editTitle">Edit
                    user</h5>

                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center col-12 offset-3 col-md-6 offset-md-3">
                <div class="form-group">
                    <label class="font-weight-bold"
                           for="idEditModal">ID</label>
                    <input id="idEditModal" class="form-control"
                           placeholder="Id"
                           readonly>
                </div>
                <div class="form-group text-center">
                    <label class="font-weight-bold"
                           for="firstNameEditModal">First
                        Name</label>
                    <input id="firstNameEditModal" class="form-control"
                           placeholder="Name">
                </div>
                <div class="form-group text-center">
                    <label class="font-weight-bold"
                           for="lastNameEditModal">Last
                        Name</label>
                    <input id="lastNameEditModal" class="form-control"
                           placeholder="Last name">
                </div>
                <div class="form-group text-center">
                    <label class="font-weight-bold"
                           for="emailEditModal">Email</label>
                    <input id="emailEditModal" class="form-control"
                           placeholder="Email">
                </div>
                <div class="form-group text-center">
                    <label class="font-weight-bold"
                           for="passwordEditModal">Password</label>
                    <input type="password" id="passwordEditModal"
                           class="form-control">
                </div>
                <div class="form-group text-center">
                    <label class="font-weight-bold"
                           for="rolesEditModal">Role</label>
                    <select multiple class="form-control"
                            id="rolesEditModal">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button id="editUserBtn" type="button" class="btn btn-primary">Edit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTitle">Delete
                    user</h5>

                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center col-12 offset-3 col-md-6 offset-md-3">
                <form>
                    <div class="form-group text-center">
                        <label class="font-weight-bold"
                               for="idDelModal">ID</label>
                        <input id="idDelModal" class="form-control" readonly>
                    </div>
                    <div class="form-group text-center">
                        <label class="font-weight-bold" for="firstNameDelModal">First
                            Name</label>
                        <input id="firstNameDelModal" class="form-control" readonly>
                    </div>
                    <div class="form-group text-center">
                        <label class="font-weight-bold" for="lastNameDelModal">Last
                            Name</label>
                        <input id="lastNameDelModal" class="form-control" readonly>
                    </div>
                    <div class="form-group text-center">
                        <label class="font-weight-bold"
                               for="emailDelModal">Email</label>
                        <input id="emailDelModal" class="form-control" readonly>
                    </div>
                    <div class="form-group text-center">
                        <label class="font-weight-bold"
                               for="rolesDelModal">Role</label>
                        <select id="rolesDelModal" multiple disabled class="form-control">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button id="delUserBtn" class="btn btn-danger" role="button">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/admin.js" defer></script>
</body>
</html>